.git
.gitignore
.editorconfig
.env
.env.*
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
tests
docker-compose.yml
docker-compose.yaml
README.md
*.md
